.search-container {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
  padding: 0;
}

.main-heading {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.custom-heading {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
  color: #ffffff;
}

.search-obersever {
  width: 50%;
}

.search-box {
  width: 100%;
}

.search-box:focus {
  outline: none;
}
