.about-self {
  padding: 80px 0;
}
.content {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 40px;
}

.about-shelf h2 {
  font-size: 36px;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin-bottom: 22px;
}

.about-shelf p {
  font-size: 18px;
  margin: 22px auto;
  max-width: 700px;
}
